
<div class="jumbotron">
	
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>PlaterRater</h1>
				<p><b>Promote safe and courteous driving by reviewing fellow motorists - via their license plate number</b></p>
				
			</div>
			<div class="col-md-6">
				<div class="col-md-6">
					<img class="landing_img"src="http://cdn.fairfaxregional.com.au/storypad-5KuvS37emzbaPy9XbUJavA/aa5b61b2-f8df-427a-a542-63ffc0bdd193.jpg">
					<figcaption>Review other drivers</figcaption>
				</div>
				<div class="col-md-6">
					<img src="">
					<img class="landing_img" src="http://t0.gstatic.com/images?q=tbn:ANd9GcSrY9PHj1SAdZQsOz9Y-aVJE7Rk0p0HQ8Xl1H-gAfDCFNBz_t9H">
					<figcaption>Monitor how others rate you</figcaption>
				</div>
				
				
			</div>
		</div>
		
	</div>
</div>

<div n></div>