
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>RoadSage</h1>
				<p>Every person thinks they're a good driver. </p>
				<p>Give them a review.</p>
				<p>And see how others rate you.</p>

			</div>
			<div class="col-md-6">
				<div class="col-md-6">
					<img style="width: 150px" src="http://getbootstrap.com/assets/img/devices.png">
					<figcaption>Rate other drivers</figcaption>
				</div>
				<div class="col-md-6">
					<img src="">
					<img style="width: 150px" src="http://getbootstrap.com/assets/img/devices.png">
					<figcaption>Monitor how others rate you, in real time</figcaption>
				</div>
				
				
			</div>
		</div>
		
	</div>
</div>