
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>RoadSage</h1>
				<p>
					Every person thinks they're a good driver. Give them a review.  And see how others rate you.
				</p>
			</div>
			<div class="col-md-6">
				<div class="col-md-6">
					<h4>rate others</h4>
				</div>
				<div class="col-md-6">
					<h4>see how they rate you</h4>
				</div>
				
				
			</div>
		</div>
		
	</div>
</div>