
<section ng-controller="RevController as ctrl">
	<div>
		<table class="table table-condensed" border="3">
			<thead>
			<tr>
				<th></th>
				<th></th>
				<th colspan="5" class="reviewTableCategory aggressive">Aggressive</th>
				<th colspan="4" class="reviewTableCategory inattentive">Inattentive</th>
				<th colspan="2" class="reviewTableCategory alert">Alert</th>
			</tr>
			<tr>
				<th class="reviewTableHeader">Date</th>
				<th class="reviewTableHeader">Time</th>
				<th class="reviewTableHeader aggressive">Sp</th>
				<th class="reviewTableHeader aggressive">Wv</th>
				<th class="reviewTableHeader aggressive">TG</th>
				<th class="reviewTableHeader aggressive">Ct</th>
				<th class="reviewTableHeader aggressive">O</th>
				<th class="reviewTableHeader inattentive">Br</th>
				<th class="reviewTableHeader inattentive">Dr</th>
				<th class="reviewTableHeader inattentive">Ph</th>
				<th class="reviewTableHeader inattentive">DD</th>
				<th class="reviewTableHeader alert">Sf</th>
				<th class="reviewTableHeader alert">Cr</th>
			</tr>	
			</thead>
			<tbody>
			<tr ng-repeat="review in ctrl.allCurrentUserReviews | orderBy: '-created_at' | limitTo: 10">
				<td class="reviewTableBody">{{ review.created_at | date: 'shortDate'}}</td>
				<td class="reviewTableBody">{{ review.created_at | date: 'HH:mm'}}</td>
				<td class="reviewTableBody aggressive">{{review.aggressive_speeding===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.aggressive_weaving===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.aggressive_tailgating===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.aggressive_cutting===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody aggressive">{{review.aggressive_other===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.inattentive_braking===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.inattentive_drifting===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.inattentive_phone===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody inattentive">{{review.inattentive_drunk===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody alert">{{review.alert_safe===1 ? "&#x2713;" : ""}}</td>
				<td class="reviewTableBody alert">{{review.alert_courteous===1 ? "&#x2713;" : ""}}</td>
			</tr>
			</tbody>
		</table>

		<table class="table table-condensed">
		    <thead>
		        <tr>
		            <th>Legend</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr>
		            <td>Sp: &nbsp; &nbsp; Speeding</td>
		            <td>Br: &nbsp; &nbsp; Breaking</td>
		            <td>Sf: &nbsp; &nbsp; Safe</td>
		        </tr>
		        <tr>
		        	<td>Wv: &nbsp; &nbsp; Weaving</td>
		            <td>Dr: &nbsp; &nbsp; Drifting</td>
		            <td>Cr: &nbsp; &nbsp; Courteous</td>
		        </tr>
		        <tr>
		        	<td>TG: &nbsp; &nbsp; Tailgating</td>
		            <td>Ph: &nbsp; &nbsp; Phone</td>
		            <td></td>
		        </tr>
		        <tr>
		        	<td>Ct: &nbsp; &nbsp; Cutting</td>
		            <td>DD: &nbsp; &nbsp; Drunk</td>
		            <td></td>
		        </tr>
		        <tr>
		        	<td>O: &nbsp; &nbsp; Other Aggressive</td>
		        	<td></td>
		        	<td></td>
		        </tr>
		    </tbody>
		</table>


	</div>

</section>

