<!DOCTYPE html>
<html>
<head>
  <title>Pl8rR8r</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<footer .navbar-static-top .container .navbar-fixed-top .navbar-fixed-bottom>
	<hr>
	<div class="container">
		<div>by: Doug Stockalper, WDI Aug 2014</div>
		<div>Stack: Postgres, Ruby, Rails, Javascript, Angular, Bootstrap</div>
		<div>API's: Paperclip, Geocoder, Google Maps</div>
	</div>
</footer>
	
</body>
</html>
